body {
    /* background-image: url("resource/catofjoy.png"); */
    background-image: url("resource/redwingblackbird.jpg");
    background-size: 200px;
    background-repeat: repeat;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color:royalblue;
}


#main-rect {
    background-color:rgb(224, 255, 221);
    width: 40%;
    max-width: 80%;
    min-width: 300px;
    margin: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;   
    padding-top: .5em;
    padding-bottom: .6em;
    margin-top: 5em;
    margin-bottom: 6em;
}

#categories-column {
    width: 40%;
}