body {
    color:rgb(228, 254, 255);
}

p {  
    line-height: 130%;
    margin: auto;
    margin-bottom: 0.3ex;
}

.indent-p {
    p {
        text-indent: 2.7em;
    }
}

h4 {
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 3ex;
    max-width: 50%;
}

h5 {
    font-size: 100%;
    margin-bottom: 1.5ex;
    margin-top: 2.5ex;
}

#main-rect {
    background-color:rgba(116, 11, 55, 0.98);
    padding-bottom: 4em;
}

#main-content {
    width: 90%;
    margin: auto;
}