body {
    background-color: rgb(236, 239, 239);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: max(100vw, 160vh);
    background-attachment: fixed;
}

.text-bg {
    background-color: rgb(255, 255, 255);
}

.taglink {
    font-style: italic;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: unset;
    color: unset;

    &.text-bg:hover {
        box-shadow: 1px 2px 0 rgba(8, 8, 9, 0.238);
    }
    &.taglink:hover {
        background-color: rgb(228, 241, 154);
    }
}

#home-button {
    text-decoration: underline;
    font-weight: bold;
    font-size: 120%;
    line-height: 95%;
    color: black;
    background-color: white;

    &:hover {
        background-color: rgb(228, 241, 154);
    }
}