body {
    /* background-image: url("/_resource/catofjoy.png"); */
    background-image: url("/a/resource/redwingblackbird.jpg");
    background-position-x: center;
    background-size: 190px;
    background-repeat: repeat;
    background-attachment: fixed;

    font-size:110%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 129);
}

a:hover {
    color:rgb(231, 255, 220);
}

#main-rect {
    /* width: 40%; */
    width: fit-content;
    max-width: min(100ch, 80%);
    min-width: min(56ch, 80%);
    margin: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;   
    padding-top: .5em;
    padding-bottom: 1.5em;
    margin-top: min(5em, 10%);
    margin-bottom: 10em;
}