.page-list-entry-title:hover {
    box-shadow: 1.5px 2px 0 rgba(8, 8, 9, 0.238);
    ~ .page-list-hover-group {
        box-shadow: 1.5px 2px 0 rgba(8, 8, 9, 0.238);
    }
}

.page-list-entry {
    font-size: large;
    margin-bottom: 3ex;
}

.page-list-entry-title {
    font-size: 120%;
    font-weight: bold;
    color: rgb(16, 47, 105)
}

.category-header {
    font-size: 140%;
    font-weight: bold;
    color:black;
    margin-bottom: 3ex;
}